
body{
    color:#333; 
    text-align:center;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 16px;
    margin: 0;
    padding: 0;  

}
#cabecera{
    background-color: blue;
    color:#DDD;
    font-weight: bold ;
}
#container{
    width: 70%;
    padding-left: 1em;
    text-align:left;
    border :1px solid #DDD;
    margin: auto;
}

#container h1 {
    font-size: 20px;
}