body {
    margin: 0;
    font-family: 'Muli', sans-serif;
  }

.header {
    align-items:center;
    text-align: center;
    background-color: #470c5f;
    color:rgb(251, 250, 255);
    height: 100px;
    justify-content: space-between;
    top: 50px;
    width: 100%;
}
.header_img {
    align-items: flex-end;
  
}

